[Unit]
Description=BITCRM Gunicorn Service
After=network.target

[Service]
Type=simple
User=bitcrm
Group=bitcrm
WorkingDirectory=__APP_DIR__
EnvironmentFile=__APP_DIR__/.env
Environment=PYTHONUNBUFFERED=1
Environment=PATH=__APP_DIR__/venv/bin
ExecStart=__APP_DIR__/venv/bin/gunicorn -c __APP_DIR__/gunicorn.conf.py run_app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
